<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div style="text-align:center">
    <h1>
      Skeleton Loading Demo
    </h1>
  </div>
  <hr/>
  <div>
    <h3>Customer Data</h3>
    <button class="btn btn-primary" (click)="showLoading()" [disabled]="skeletonMode">Show Skeleton Loading</button>
    <div class="customer-profile">
      <div class="row">
        <div class="col-sm-12">
          <a *ngIf="skeletonMode" [innerHtml]="'' | skeletonLoader:skeletonMode:'skeleton-icon'"></a>
          <a *ngIf="vm && !skeletonMode">
            <div class="icon">
              <span class="profile-icon"></span>
            </div>
          </a>
          <div class="order-label" [innerHtml]="vm?.name | skeletonLoader:skeletonMode"></div>
        </div>
        <div class="col-sm-12">
          <div class="order-label" [innerHtml]="vm?.role | skeletonLoader:skeletonMode"></div>
        </div>
        <div class="col-sm-12">
          <div class="order-label" [innerHtml]="vm?.address | skeletonLoader:skeletonMode"></div>
        </div>
        <div class="col-sm-12">
          <div class="order-label" [innerHtml]="vm?.country | skeletonLoader:skeletonMode"></div>
        </div>
        <div class="col-sm-12">
          <div class="order-label" [innerHtml]="vm?.region | skeletonLoader:skeletonMode"></div>
        </div>
      </div>
    </div>
  </div>
</div>